openapi: 3.0.1
info:
  title: Microservicio de gestión de convocatorias, materias, slots y pruebas
  version: 1.0.0
servers:
  - url: 'https://mallba3.lcc.uma.es'
    description: Servidor principal
  - url: 'http://localhost:8080'
    description: Servidor local

tags:
  - name: Slots
    description: Gestión de slots
  - name: Materias
    description: Gestión de materias
  - name: Pruebas
    description: Gestión de pruebas    
  - name: Convocatorias
    description: Gestión de convocatorias


paths:
  /slots/{idSlot}:
    get:
      tags:
      - Slots
      description: Devuelve información de un slot concreto
      operationId: consultarSlot
      parameters:
      - name: idSlot
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Slot'
        "404":
          description: Slot no encontrado
        "403":
          description: Acceso no autorizado
    put:
      tags:
      - Slots
      description: Actualiza un slot concreto
      operationId: actualizarSlot
      parameters:
      - name: idSlot
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotNuevo'
        required: true
      responses:
        "200":
          description: Actualización correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Slot'
        "404":
          description: Slot no encontrado
        "403":
          description: Acceso no autorizado
    delete:
      tags:
      - Slots
      description: Elimina un slot concreto. Solo se puede hacer una eliminación lógica
        (marcando el slot como eliminado) y solo de la convocaotira actual.
      operationId: eliminarSlot
      parameters:
      - name: idSlot
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Eliminación correcta
        "404":
          description: Slot no encontrado
        "403":
          description: Acceso no autorizado

  /slots:
    get:
      tags:
      - Slots
      description: Devuelve la lista de slots planificados en una convocatoria.
      operationId: consultarSlots
      parameters:
      - name: idConvocatoria
        in: query
        description: Si no se indica se asume que se pregunta por la convocatoria
          actual
        required: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/Slot'
        "404":
          description: Convocatoria no encontrada
        "403":
          description: Acceso no autorizado
    post:
      tags:
      - Slots
      description: Crea un nuevo slot en la convocatoria actual. Devuelve el slot
        creado.
      operationId: crearSlot
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SlotNuevo'
        required: true
      responses:
        "201":
          description: El slot se ha creado correctamente
          headers:
            Location:
              description: URI del nuevo recurso
              style: simple
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Slot'
        "403":
          description: Acceso no autorizado


  /pruebas/{idPrueba}:
    get:
      tags:
      - Pruebas
      description: Devuelve información de una prueba concreta
      operationId: consultarPrueba
      parameters:
      - name: idPrueba
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Prueba'
        "404":
          description: Prueba no encontrada
        "403":
          description: Acceso no autorizado

    put:
      tags:
      - Pruebas
      description: Actualiza una prueba concreta
      operationId: actualizarPrueba
      parameters:
      - name: idPrueba
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PruebaNueva'
        required: true
      responses:
        "200":
          description: Actualización correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Prueba'
        "404":
          description: Prueba no encontrada
        "403":
          description: Acceso no autorizado
    delete:
      tags:
      - Pruebas
      description: Elimina una prueba concreta. Solo se puede hacer una eliminación
        lógica (marcando la prueba como eliminada).
      operationId: eliminarPrueba
      parameters:
      - name: idPrueba
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Eliminación correcta
        "404":
          description: Prueba no encontrada
        "403":
          description: Acceso no autorizado

  /pruebas:
    get:
      tags:
      - Pruebas
      description: Devuelve la lista de pruebas planificadas en un slot y convocatoria.
      operationId: consultarPruebas
      parameters:
      - name: idConvocatoria
        in: query
        description: Si no se indica se asume que se pregunta por la convocatoria
          actual
        required: false
        schema:
          type: integer
          format: int64
      - name: idSlot
        in: query
        description: El slot por el que se consulta (si no se indica se devuelven
          todos)
        required: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/Prueba'
        "404":
          description: Slot o convocatoria no encontrados
        "403":
          description: Acceso no autorizado

    post:
      tags:
      - Pruebas
      description: Crea una nueva prueba. Devuelve la prueba creada.
      operationId: crearPrueba
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PruebaNueva'
        required: true
      responses:
        "201":
          description: La prueba se ha creado correctamente
          headers:
            Location:
              description: URI del nuevo recurso
              style: simple
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Prueba'
        "404":
          description: La materia o el slot no se encuentran
        "403":
          description: Acceso no autorizado

  /materias/{idMateria}:
    get:
      tags:
      - Materias
      description: Devuelve información de una materia concreta
      operationId: consultarMateria
      parameters:
      - name: idMateria
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Materia'
        "404":
          description: Materia no encontrada
        "403":
          description: Acceso no autorizado
    put:
      tags:
      - Materias
      description: Actualiza una materia concreta
      operationId: actualizarMateria
      parameters:
      - name: idMateria
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MateriaNueva'
        required: true
      responses:
        "200":
          description: Actualización correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Materia'
        "404":
          description: Materia no encontrada
        "403":
          description: Acceso no autorizado
    delete:
      tags:
      - Materias
      description: Elimina una materia concreta. Solo se puede hacer una eliminación
        lógica (marcando la materia como eliminada).
      operationId: eliminarMateria
      parameters:
      - name: idMateria
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Eliminación correcta
        "404":
          description: Materia no encontrada
        "403":
          description: Acceso no autorizado
  
  
  /materias:
    get:
      tags:
      - Materias
      description: Devuelve la lista de materias
      operationId: consultarMaterias
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/Materia'
        "403":
          description: Acceso no autorizado
    post:
      tags:
      - Materias
      description: Crea una nueva materia. Devuelve la materia creada.
      operationId: crearMateria
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MateriaNueva'
        required: true
      responses:
        "201":
          description: La materia se ha creado correctamente
          headers:
            Location:
              description: URI del nuevo recurso
              style: simple
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Materia'
        "403":
          description: Acceso no autorizado

  /convocatorias:
    get:
      tags:
      - Convocatorias
      description: Devuelve la lista de convocatorias
      operationId: consultarConvocatorias
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/Convocatoria'
        "403":
          description: Acceso no autorizado
    post:
      tags:
      - Convocatorias
      description: Crea una nueva convocatoria y se convierte en actual.
      operationId: crearConvocatoria
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConvocatoriaNueva'
        required: true
      responses:
        "201":
          description: La convocatoria se ha creado correctamente
          headers:
            Location:
              description: URI del nuevo recurso
              style: simple
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Materia'
        "403":
          description: Acceso no autorizado
  /convocatorias/actual:
    get:
      tags:
      - Convocatorias
      description: Devuelve información de la convocatoria actual
      operationId: consultarConvocatoriaActual
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Convocatoria'
        "404":
          description: Convocatoria no encontrada
        "403":
          description: Acceso no autorizado
          
components:
  schemas:
    Convocatoria:
      type: object
      properties:
        idConvocatoria:
          type: integer
          format: int64
        nombre:
          type: string
        fechaInicio:
          type: string
          format: date-time
        fechaFin:
          type: string
          format: date-time
    ConvocatoriaNueva:
      type: object
      properties:
        nombre:
          type: string
        fechaInicio:
          type: string
          format: date-time
        fechaFin:
          type: string
          format: date-time      
    Slot:
      type: object
      properties:
        id:
          type: integer
          format: int64
        inicio:
          type: string
          format: date-time
        fin:
          type: string
          format: date-time
        eliminado:
          type: boolean
        convocatoria:
          $ref: '#/components/schemas/Convocatoria'
    SlotNuevo:
      type: object
      properties:
        inicio:
          type: string
          format: date-time
        fin:
          type: string
          format: date-time
        eliminado:
          type: boolean
        convocatoria:
          $ref: '#/components/schemas/Convocatoria'      
    Materia:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nombre:
          type: string
        eliminada:
          type: boolean
    MateriaNueva:
      type: object
      properties:
        nombre:
          type: string
    Prueba:
      type: object
      properties:
        id:
          type: integer
          format: int64
        slot:
          $ref: '#/components/schemas/Slot'
        materia:
          $ref: '#/components/schemas/Materia'
        eliminada:
          type: boolean
    PruebaNueva:
      type: object
      properties:
        slot:
          type: object
          properties:
            id:
              type: integer
              format: int64
        materia:
          type: object
          properties:
            id:
              type: integer
              format: int64
      description: Es suficiente indicar el ID del slot y la materia.  
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - jwt: []
  