openapi: 3.0.1
info:
  title: Microservicio de gestión de correctores
  description: Este servicio permite gestionar los correctores de la aplicación
  version: 1.0.0
servers:
  - url: 'https://mallba3.lcc.uma.es'
    description: Servidor principal
  - url: 'http://localhost:8080'
    description: Servidor local

tags:
  - name: Correctores
    description: Gestión de correctores

paths:
  /correctores/{id}:
    get:
      tags:
      - Correctores
      description: Obtiene un corrector concreto
      operationId: getCorrector
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: El corrector existe
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Corrector'
        "404":
          description: El corrector no existe
        "403":
          description: Acceso no autorizado
    put:
      tags:
      - Correctores
      description: Actualiza un corrector
      operationId: actualizarCorrector
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: El corrector se ha actualizado
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CorrectorNuevo'
        "404":
          description: El corrector no existe
        "403":
          description: Acceso no autorizado
    delete:
      tags:
      - Correctores
      description: Elimina el corrector.
      operationId: eliminarCorrector
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: El corrector se ha elminado
        "404":
          description: El corrector no existe
        "403":
          description: Acceso no autorizado
  /correctores:
    get:
      tags:
      - Correctores
      description: Obtiene la lista de correctores del sistema
      operationId: obtenerCorrectores
      parameters:
      - name: idConvocatoria
        in: query
        description: "ID de la convocatoria de la que se quiere los correctores. \t\
          Si no se indica, se obtienen todos los correctores del sistema."
        required: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devuelve la lista de correctores
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Corrector'
        "403":
          description: Acceso no autorizado
    post:
      tags:
      - Correctores
      description: Crea un nuevo corrector para la convocatoria vigente (que se pasa
        dentro del objeto)
      operationId: obtenerCorrector
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CorrectorNuevo'
        required: true
      responses:
        "201":
          description: El corrector se crea correctamente
          headers:
            Location:
              description: URI del nuevo recurso
              style: simple
              schema:
                type: string
        "400":
          description: Hay un problema con los parámetros indicados para el corrector (no existe el idUsuario, la convocatoria o alguna materia)
        "409":
          description: Hay un corrector con el mismo identificador de usuario
        "403":
          description: Acceso no autorizado
components:
  schemas:
    Corrector:
      type: object
      properties:
        id:
          type: integer
          format: int64
        identificadorUsuario:
          type: integer
          format: int64
        telefono:
          type: string
        maximasCorrecciones:
          type: integer
          format: int32
        materias:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/MateriaEnConvocatoria'
    MateriaEnConvocatoria:
      type: object
      properties:
        idMateria:
          type: integer
          format: int64
        idConvocatoria:
          type: integer
          format: int64
    CorrectorNuevo:
      type: object
      properties:
        identificadorUsuario:
          type: integer
          format: int64
        identificadorConvocatoria:
          type: integer
          format: int64
        telefono:
          type: string
        materia:
          $ref: '#/components/schemas/Materia'
        maximasCorrecciones:
          type: integer
          format: int32
    Materia:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nombre:
          type: string
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - jwt: []
