openapi: 3.0.1
info:
  title: Microservicio de gestión de estudiantes
  description: Este servicio permite gestionar los estudiantes de la aplicación
  version: 1.0.0
servers:
  - url: 'https://mallba3.lcc.uma.es'
    description: Servidor principal
  - url: 'http://localhost:8080'
    description: Servidor local

tags:
  - name: Institutos
    description: Gestión de institutos
  - name: Estudiantes
    description: Gestión de estudiantes

paths:
  /institutos/{idInstituto}:
    get:
      tags:
      - Institutos
      description: Devuelve información de un instituto concreto
      operationId: consultarInstituto
      parameters:
      - name: idInstituto
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Instituto'
        "404":
          description: Instituto no encontrado
        "403":
          description: Acceso no autorizado
    put:
      tags:
      - Institutos
      description: Actualiza el instituto concreto
      operationId: actualizarInstituto
      parameters:
      - name: idInstituto
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutoNuevo'
        required: true
      responses:
        "200":
          description: Actualización correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Instituto'
        "404":
          description: Instituto no encontrado
        "403":
          description: Acceso no autorizado
    delete:
      tags:
      - Institutos
      description: Elimina un instituto concreto. Solo se puede eliminar si el instituto
        no aparece asociado a un estudiante.
      operationId: eliminarInstituto
      parameters:
      - name: idInstituto
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Eliminación correcta
        "404":
          description: Instituto no encontrada
        "409":
          description: El instituto no se puede eliminar
        "403":
          description: Acceso no autorizado
  /estudiantes/{idEstudiante}:
    get:
      tags:
      - Estudiantes
      description: Devuelve información de un estudiante concreto
      operationId: consultarEstudiante
      parameters:
      - name: idEstudiante
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Estudiante'
        "404":
          description: Estudiante no encontrado
        "403":
          description: Acceso no autorizado
    put:
      tags:
      - Estudiantes
      description: 'Actualiza la información un/a estudiante. El atributo ''noEliminar''
        solo puede actualizarse una vez de false a verdadero. '
      operationId: actualizarEstudiante
      parameters:
      - name: idEstudiante
        in: path
        required: true
        schema:
          type: integer
          format: int64
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstudianteNuevo'
        required: true
      responses:
        "200":
          description: Actualización correcta
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Estudiante'
        "404":
          description: "Estudiante, instituto o materias no encontradas"
        "409":
          description: Ya hay otro estudiante con el mismo DNI
        "403":
          description: Acceso no autorizado
    delete:
      tags:
      - Estudiantes
      description: Elimina un/a estudiante concreto/a siempre que no haya sido marcado
        como para 'no eliminar' por haber registrado otro servicio información sobre
        el/la estudiante
      operationId: eliminarEstudiante
      parameters:
      - name: idEstudiante
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Eliminación correcta
        "404":
          description: Estudiante no encontrado
        "409":
          description: El estudiante no se puede eliminar
        "403":
          description: Acceso no autorizado
  /institutos:
    get:
      tags:
      - Institutos
      description: Devuelve la lista de institutos
      operationId: consultarInstitutos
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/Instituto'
        "403":
          description: Acceso no autorizado
    post:
      tags:
      - Institutos
      description: Crea un nuevo instituto. Devuelve el instituto creado.
      operationId: crearInstituto
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstitutoNuevo'
        required: true
      responses:
        "201":
          description: El instituto se ha creado correctamente
          headers:
            Location:
              description: URI del nuevo recurso
              style: simple
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Instituto'
        "403":
          description: Acceso no autorizado
  /estudiantes:
    get:
      tags:
      - Estudiantes
      description: Devuelve la lista de estudiantes (totales o de una sede) de una
        convocatoria.
      operationId: consultarEstudiantes
      parameters:
      - name: idSede
        in: query
        description: Sede de la que se quiere consutlar los estudiantes
        required: false
        schema:
          type: integer
          format: int64
      - name: idConvocatoria
        in: query
        description: Si no se especifica se asume que es la actual
        required: false
        schema:
          type: integer
          format: int64
      responses:
        "200":
          description: Devolución correcta
          content:
            '*/*':
              schema:
                uniqueItems: true
                type: array
                items:
                  $ref: '#/components/schemas/Estudiante'
        "403":
          description: Acceso no autorizado
    post:
      tags:
      - Estudiantes
      description: Crea un nuevo estudiante.
      operationId: crearEstudiante
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstudianteNuevo'
        required: true
      responses:
        "201":
          description: El estudiante se ha creado correctamente
          headers:
            Location:
              description: URI del nuevo recurso
              style: simple
              schema:
                type: string
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Estudiante'
        "403":
          description: Acceso no autorizado
        "409":
          description: Ya hay un estudiante con el mismo DNI
  /estudiantes/upload:
    post:
      tags:
      - Estudiantes
      description: Sube un fichero CSV con la información de  los estudiantes para
        importarla.
      operationId: importarEstudiantes
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - ficheroEstudiantes
              type: object
              properties:
                ficheroEstudiantes:
                  type: string
                  format: binary
      responses:
        "200":
          description: Los estudiantes se han creado correctamente. Devuelve la lista
            de estudiantes importados y aquellos no importados.
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ImportacionEstudiantes'
        "403":
          description: Acceso no autorizado
components:
  schemas:
    Instituto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nombre:
          type: string
        direccion1:
          type: string
        direccion2:
          type: string
        localidad:
          type: string
        codigoPostal:
          type: integer
          format: int32
        pais:
          type: string
    InstitutoNuevo:
      type: object
      properties:
        nombre:
          type: string
        direccion1:
          type: string
        direccion2:
          type: string
        localidad:
          type: string
        codigoPostal:
          type: integer
          format: int32
        pais:
          type: string      
    EstudianteNuevo:
      type: object
      properties:
        nombreCompleto:
          $ref: '#/components/schemas/NombreCompleto'
        dni:
          type: string
        telefono:
          type: string
        email:
          type: string
        materiasMatriculadas:
          uniqueItems: true
          type: array
          items:
            type: integer
            format: int64
        idInstituto:
          type: integer
          format: int64
        idSede:
          type: integer
          format: int64
        noEliminar:
          type: boolean
    NombreCompleto:
      type: object
      properties:
        apellido1:
          type: string
        apellido2:
          type: string
        nombre:
          type: string
    Estudiante:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nombreCompleto:
          $ref: '#/components/schemas/NombreCompleto'
        dni:
          type: string
        telefono:
          type: string
        email:
          type: string
        materiasMatriculadas:
          uniqueItems: true
          type: array
          items:
            $ref: '#/components/schemas/Materia'
        idSede:
          type: integer
          format: int64
        instituto:
          $ref: '#/components/schemas/Instituto'
        noEliminar:
          type: boolean
    Materia:
      type: object
      properties:
        id:
          type: integer
          format: int64
        nombre:
          type: string
        eliminada:
          type: boolean
    ImportacionEstudiantes:
      type: object
      properties:
        importados:
          type: array
          items:
            $ref: '#/components/schemas/Estudiante'
        noImportados:
          type: array
          items:
            $ref: '#/components/schemas/ProblemaImportacion'
    ProblemaImportacion:
      type: object
      properties:
        estudiante:
          $ref: '#/components/schemas/Estudiante'
        problemaImportacion:
          type: string
  securitySchemes:
    jwt:
      type: http
      scheme: bearer
      bearerFormat: JWT

security:
  - jwt: []
