{
  "openapi": "3.0.1",
  "info": {
    "title": "Microservicio de gestión de sedes",
    "description": "Este microservicio permite gestionar las sedes, responsables, vigilantes y aulas",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://mallba3.lcc.uma.es",
      "description": "Servidor principal"
    },
    {
      "url": "http://localhost:8080",
      "description": "Servidor local"
    }
  ],
  "tags": [
    {
      "name": "Vigilantes",
      "description": "Gestión de vigilantes"
    },
    {
      "name": "Sedes",
      "description": "Gestión de sedes"
    },
    {
      "name": "Responsables",
      "description": "Gestión de responsables de sedes"
    },
    {
      "name": "Aulas",
      "description": "Gestión de aulas"
    },
    {
      "name": "Asigancion",
      "description": "Gestión de asignación de vigilantes a aulas"
    }
    
  ],
  "paths": {
    "/vigilantes/{idVigilante}": {
      "get": {
        "tags": [
          "Vigilantes"
        ],
        "description": "Devuelve información de un vigilante concreto",
        "operationId": "consultarVigilante",
        "parameters": [
          {
            "name": "idConvocatoria",
            "in": "query",
            "description": "Si no se da la convocatoria se asume que es la actual",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idVigilante",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devolución correcta",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Vigilante"
                }
              }
            }
          },
          "404": {
            "description": "Vigilante no encontrado"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "put": {
        "tags": [
          "Vigilantes"
        ],
        "description": "Actualiza un vigilante concreto. ",
        "operationId": "actualizarVigilante",
        "parameters": [
          {
            "name": "idVigilante",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Vigilante"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Actualización correcta",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Vigilante"
                }
              }
            }
          },
          "404": {
            "description": "Vigilante no encontrado"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "delete": {
        "tags": [
          "Vigilantes"
        ],
        "description": "Elimina un vigilante concreto. Solo se puede eliminar si no se ha asociado ningún aula en ninguna convocatoria",
        "operationId": "eliminarVigilante",
        "parameters": [
          {
            "name": "idVigilante",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminación correcta"
          },
          "404": {
            "description": "La eliminación no es posible"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    },
    "/sedes/{idSede}": {
      "get": {
        "tags": [
          "Sedes"
        ],
        "description": "Devuelve información de una sede concreta",
        "operationId": "consultarSedeConcreta",
        "parameters": [
          {
            "name": "idConvocatoria",
            "in": "query",
            "description": "Si no se da la convocaotira se asume que es la actual",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idSede",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devolución correcta",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Sede"
                }
              }
            }
          },
          "404": {
            "description": "Sede no encontrada"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "put": {
        "tags": [
          "Sedes"
        ],
        "description": "Actualiza una sede concreta",
        "operationId": "actualizarSede",
        "parameters": [
          {
            "name": "idSede",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SedeNueva"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Actualización correcta",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Sede"
                }
              }
            }
          },
          "404": {
            "description": "Sede, vigilante, responsable o aula no encontrada"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "delete": {
        "tags": [
          "Sedes"
        ],
        "description": "Elimina una sede concreta. Solo se puede eliminar si no se ha asociado ningún responsable, vigilante o aula en ninguna convocatoria",
        "operationId": "eliminarSede",
        "parameters": [
          {
            "name": "idSede",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminación correcta"
          },
          "404": {
            "description": "Sede no encontrada"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    },
    "/responsables/{idResponsable}": {
      "get": {
        "tags": [
          "Responsables"
        ],
        "description": "Devuelve información de un responsable concreto",
        "operationId": "consultarResponsable",
        "parameters": [
          {
            "name": "idConvocatoria",
            "in": "query",
            "description": "Si no se da la convocatoria se asume que es la actual",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idResponsable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devolución correcta",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Personal"
                }
              }
            }
          },
          "404": {
            "description": "Responsable no encontrado"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "put": {
        "tags": [
          "Responsables"
        ],
        "description": "Actualiza un responsable concreto. ",
        "operationId": "actualizarSede",
        "parameters": [
          {
            "name": "idResponsable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Personal"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Actualización correcta",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Personal"
                }
              }
            }
          },
          "404": {
            "description": "Responsable no encontrado"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "delete": {
        "tags": [
          "Responsables"
        ],
        "description": "Elimina un responsable concreto. Solo se puede eliminar si no se ha asociado ningún aula en ninguna convocatoria",
        "operationId": "eliminarResponsable",
        "parameters": [
          {
            "name": "idResponsable",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminación correcta"
          },
          "404": {
            "description": "La eliminación no es posible"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }

    },
    "/aulas/{idAula}": {
      "get": {
        "tags": [
          "Aulas"
        ],
        "description": "Devuelve información de un aula concreta",
        "operationId": "consultarAula",
        "parameters": [
          {
            "name": "idAula",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devolución correcta",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Aula"
                }
              }
            }
          },
          "404": {
            "description": "Aula no encontrada"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "put": {
        "tags": [
          "Aulas"
        ],
        "description": "Actualiza un aula concreta. No se puede actualizar la sede",
        "operationId": "actualizarSede",
        "parameters": [
          {
            "name": "idAula",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AulaNueva"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Actualización correcta",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Aula"
                }
              }
            }
          },
          "404": {
            "description": "Aula no encontrada"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "delete": {
        "tags": [
          "Aulas"
        ],
        "description": "Elimina un aula concreta. Solo se puede eliminar si no se ha asociado ningún vigilante/responsable en ninguna convocatoria",
        "operationId": "eliminarAula",
        "parameters": [
          {
            "name": "idAula",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Eliminación correcta"
          },
          "404": {
            "description": "Aula no encontrada"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    },
    "/asignacion/{idSede}": {
      "get": {
        "tags": [
          "Asignacion"
        ],
        "description": "Devuelve la asignación de vigilantes \u00a0a aulas. Se puede hacer una consulta devolviendo solo los asignados o los no asignados.",
        "operationId": "consultarAsginacion",
        "parameters": [
          {
            "name": "idSede",
            "in": "path",
            "description": "ID de la sede",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "asignados",
            "in": "query",
            "description": "Filtrar por vigilantes asignados o no",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "idConvocatoria",
            "in": "query",
            "description": "ID de la convocatoria. SI no se indica, se asume que es la actual.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Asignación devuelta con éxito",
            "content": {
              "*/*": {
                "schema": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AsignacionPersonalAulas"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "put": {
        "tags": [
          "Asignacion"
        ],
        "description": "Actualiza la asignacion de la sede. Solo se puede actualizar la asignación de la convocatoria actual.",
        "operationId": "actualizarAsginacion",
        "parameters": [
          {
            "name": "idSede",
            "in": "path",
            "description": "ID de la sede",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "uniqueItems": true,
                "type": "array",
                "description": "Conjunto de asignación de personal a aulas y slots con indicación de si es repsonsable del aula. El servicio debe comprobar que no se asigna a la misma persona a dos aulas al mismo tiempo y que se le hace una asignación en un momento en que está disponible.",
                "items": {
                  "$ref": "#/components/schemas/AsignacionPersonalAulas"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Asignación actualizada con éxito"
          },
          "404": {
            "description": "Algún identificador no encontrado. "
          },
          "409": {
            "description": "Alguna restricción no se cumple"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    },
    "/vigilantes": {
      "get": {
        "tags": [
          "Vigilantes"
        ],
        "description": "Devuelve la lista de vigilantes",
        "operationId": "consultarVigilantes",
        "parameters": [
          {
            "name": "idConvocatoria",
            "in": "query",
            "description": "Si no se da la convocatoria se asume que es la actual",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idSede",
            "in": "query",
            "description": "Si no se da la sede se devuelve de todas",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devolución correcta",
            "content": {
              "*/*": {
                "schema": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Vigilante"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "post": {
        "tags": [
          "Vigilantes"
        ],
        "description": "Crea un nuevo vigilante en una sede. Si el vigilante ya existía en otras convocatorias pero no es esta se añade a esta convocatoria y se registra su disponibilidad para esta.",
        "operationId": "crearVigilante",
        "parameters": [
          {
            "name": "idSede",
            "in": "query",
            "description": "Identificador de la sede",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Vigilante"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "El vigilante se ha creado correctamente",
            "headers": {
              "Location": {
                "description": "URI del nuevo recurso",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Vigilante"
                }
              }
            }
          },
          "404": {
            "description": "La sede indicada no se encuentra"
          },
          "409": {
            "description": "El vigilante ya está registrado en esta convocatoria"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    },
    "/sedes": {
      "get": {
        "tags": [
          "Sedes"
        ],
        "description": "Devuelve la lista de sedes",
        "operationId": "consultarSedes",
        "parameters": [
          {
            "name": "idConvocatoria",
            "in": "query",
            "description": "Si no se da la convocatoria se asume que es la actual",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devolución correcta",
            "content": {
              "*/*": {
                "schema": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Sede"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "post": {
        "tags": [
          "Sedes"
        ],
        "description": "Crea una nueva sede.",
        "operationId": "crearSede",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SedeNueva"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "La sede se ha creado correctamente",
            "headers": {
              "Location": {
                "description": "URI del nuevo recurso",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Sede"
                }
              }
            }
          },
          "404": {
            "description": "Algunos de los datos de aulas o personal no se encuentran"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    },
    "/responsables": {
      "get": {
        "tags": [
          "Responsables"
        ],
        "description": "Devuelve la lista de responsables",
        "operationId": "consultarResponsables",
        "parameters": [
          {
            "name": "idConvocatoria",
            "in": "query",
            "description": "Si no se da la convocatoria se asume que es la actual",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idSede",
            "in": "query",
            "description": "Si no se da la sede se devuelve de todas",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devolución correcta",
            "content": {
              "*/*": {
                "schema": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Personal"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "post": {
        "tags": [
          "Responsables"
        ],
        "description": "Crea un nuevo responsable en una sede. Si el responsable ya existía en otras convocatorias pero no es esta se añade a esta convocatoria.",
        "operationId": "crearResponsable",
        "parameters": [
          {
            "name": "idSede",
            "in": "query",
            "description": "Identificador de la sede",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Personal"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "El responsable se ha creado correctamente",
            "headers": {
              "Location": {
                "description": "URI del nuevo recurso",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Personal"
                }
              }
            }
          },
          "404": {
            "description": "La sede indicada no se encuentra"
          },
          "409": {
            "description": "El responsable ya está registrado en esta convocatoria"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    },
    "/notificaciones": {
      "post": {
        "tags": [
          "Asignacion"
        ],
        "description": "Programa el envío de notificaciones de asignación de aulas a los vigilanes. Contacta con el servicio de notificaciones.",
        "operationId": "programaNotificacionVigilantes",
        "parameters": [
          {
            "name": "notificacion",
            "in": "query",
            "description": "Detalles de envío de notificaciones",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/NotificacionAsignacionAulaVigilantes"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notificaciones programadas"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    },
    "/aulas": {
      "get": {
        "tags": [
          "controlador-aulas"
        ],
        "description": "Devuelve la lista de aulas",
        "operationId": "consultarAulas",
        "parameters": [
          {
            "name": "idConvocatoria",
            "in": "query",
            "description": "Si no se da la convocatoria se asume que es la actual",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "idSede",
            "in": "query",
            "description": "Si no se da la sede se devuelve de todas",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Devolución correcta",
            "content": {
              "*/*": {
                "schema": {
                  "uniqueItems": true,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Aula"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      },
      "post": {
        "tags": [
          "controlador-aulas"
        ],
        "description": "Crea una nueva aula en una sede.",
        "operationId": "crearAula",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AulaNueva"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "El aula se ha creado correctamente",
            "headers": {
              "Location": {
                "description": "URI del nuevo recurso",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Aula"
                }
              }
            }
          },
          "404": {
            "description": "La sede indicada no se encuentran"
          },
          "403": {
            "description": "Acceso no autorizado"
          }
        }
      }
    }
    
  },
  "components": {
    "schemas": {
      "NombreCompleto": {
        "type": "object",
        "properties": {
          "apellido1": {
            "type": "string"
          },
          "apellido2": {
            "type": "string"
          },
          "nombre": {
            "type": "string"
          }
        }
      },
      "Personal": {
        "type": "object",
        "properties": {
          "idUsuario": {
            "type": "integer",
            "format": "int64"
          },
          "dni": {
            "type": "string"
          },
          "nombreCompleto": {
            "$ref": "#/components/schemas/NombreCompleto"
          },
          "telefono": {
            "type": "string"
          },
          "email": {
            "type": "string"
          }
        },
        "description": "El idUsuario debe coincidir con el ID del personal"
      },
      "Vigilante": {
        "type": "object",
        "properties": {
          "idUsuario": {
            "type": "integer",
            "format": "int64"
          },
          "dni": {
            "type": "string"
          },
          "nombreCompleto": {
            "$ref": "#/components/schemas/NombreCompleto"
          },
          "telefono": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "slotsConDisponibilidad": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            }
          }
        },
        "description": "El idUsuario debe coincidir con el ID del personal"
      },
      "Aula": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "idSede": {
            "type": "integer",
            "format": "int64"
          },
          "nombre": {
            "type": "string"
          },
          "aforo": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Sede": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "nombre": {
            "type": "string"
          },
          "aulas": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Aula"
            }
          },
          "repsonsable": {
            "$ref": "#/components/schemas/Personal"
          },
          "vigilantes": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Vigilante"
            }
          }
        }
      },
      "AulaNueva": {
        "type": "object",
        "properties": {
          "idSede": {
            "type": "integer",
            "format": "int64"
          },
          "nombre": {
            "type": "string"
          },
          "aforo": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "AsignacionPersonalAulas": {
        "type": "object",
        "properties": {
          "idSlot": {
            "type": "integer",
            "format": "int64"
          },
          "idAula": {
            "type": "integer",
            "format": "int64"
          },
          "idPersonal": {
            "type": "integer",
            "format": "int64"
          },
          "responsable": {
            "type": "boolean"
          }
        }
      },
      "SedeNueva": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int64"
          },
          "nombre": {
            "type": "string"
          }
        }
      },
      "NotificacionAsignacionAulaVigilantes": {
        "type": "object",
        "properties": {
          "plantillaAsunto": {
            "type": "string"
          },
          "plantillaCuerpo": {
            "type": "string"
          },
          "programacionEnvio": {
            "type": "string",
            "format": "date-time"
          },
          "medios": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "SMS",
                "EMAIL"
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "jwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "jwt": []
    }
  ]
}

